button{
    margin: 10px;
    background-color: beige;
    color: chocolate;
    height: 32px;
    width: 38p;
}
body{
    background-color: thistle;
    color: chocolate;
}
h1{
    color: chocolate;
}
